*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: space-between;
    position: relative;
    background-color:red;
    color: white;
    height: 60px;
    
    
    
 
}
ul{
    display: flex;
    
}
li{
    margin-right: 10vh;
    list-style: none;
    font-weight: bold;
    

}
li,a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    
}
li a:hover{
    color: blue;
}d:\portfolio promo
.didi{
    width: 5px;
}
.dingue{
    color: red;
}
.pp{
    border: 2px solid;
    height: 100vh;
    text-align: center;
    font-weight: bold;
    
    
}
.pp::before{
    content: "";
    position:absolute;
    background-image: url(photo\ de\ groupe.webp);
   background-size: cover;
   background-position: center;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0.4;
  
   
}

.pp h2 {
    position:relative;
    top: 20vh;
 
}
.pp p {
    position: relative;
    top:20vh;
}
/*fin de la première section*/

.title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-decoration: underline;
    margin-bottom: 5px;
    
}
.paragraphe{
    font-weight: bold;
    font-size: 25px;
    margin-top: 1vh;
    color: white;
}
img{
    width: 35vh;
}
#longeur{
      height: 25vh;
}
.projectsimplon{
         display: flex;
         justify-content: space-around;
         align-items: center;
         color: white;
         text-align: center;
         border: 1px;
         border-radius: 5px;
}
#longeur:hover{
          transform: scale(1.2);
          transition: transform 0.3s;
    
}
.bn{
    color: white;
    align-items: center;
}
.projets{
    background-color: rgb(44, 30, 30);
    margin-bottom: 5px;
}
button{
    border: 1px;
    border-radius: 60px;
    padding: 5px;
    background-color: red;
    margin-top: 3px;
    margin-bottom: 4px;
}
.competenceP{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 3px;
}
#niveau{
    height: 25vh;
    width: 35vh;
    margin-top: 3px;
}
.competences2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
    text-align: center;
    color: white;
        
}
.competences{
    background-color: rgb(44, 30, 30);
    margin-top: 35px;
}
#niveau:hover{
    transform: scale(1.2);
          transition: transform 0.3s;
}
hr{
    padding: 1px;
    color: white;
    background-color: white;
    margin-top: 30px;
    width: 500px;
    margin-left: 500px;
}
fieldset{
    position: relative;
    width: 700px;
    margin-bottom: 20px;
    margin-left: 400px;
    background-color:white;
    color: black;
    height: 500px;
    
}
.contact{
    background-color: rgb(44, 30, 30);
    margin-top: 35px;
}
form{
    margin-left: 10px;
}
#bt{
    position: relative;
    text-align: center;
    padding: 9px;
    background-color: red;
    width: 600px;
    margin-left: 30px;
    color: white;
}
.titre{
       text-align: center;
       text-decoration: underline;
       font-weight: bold;
}
#center{
    position: relative;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.numero{
    width: 5vh;
    margin-left: 200px;
    margin-top: 5px;
}
.gauche{
    display: flex;
    color: red;
    margin-top: 25px;
    font-weight: bold;
}

.droite{
    text-align: right;
    margin-right: 60px;
    color: red;
    font-weight: bold;

}
.marg{
    display: flex;
    position: relative;
    margin-left: 170vh;
    background-color: rgb(44, 30, 30);
}
.bouge{
    width: 50px;
    align-items: center;
}
.footer{
    background-color:  rgb(44, 30, 30);
    margin-top: 35px;
}


